<main>
    <h1>Mis redes sociales</h1>
    <table>
        <thead>
            <tr>
                <th>Red social</th>
                <th>Redirect</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Facebook</td>
                <td><a href="https://www.facebook.com/Mauricio.A.Trejo.M/">Mauricio Trejo</a></td>
            </tr> 
            <tr>
                <td>Twitter</td>
                <td><a href="">@miauri_trejo</a></td>
            </tr> 
            <tr>
                <td>Instagram</td>
                <td><a href="">@miauri_trejo</a></td>
            </tr>
        </tbody>
    </table>
</main>