<h1>{{ title }}</h1>

<div>
    <h2>Tarea 2 - Lista</h2>
    <ul>
        <li *ngFor="let nombre of Lista; let i = index">
            {{i+1}} - {{nombre}}
        </li>
    </ul>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Nombre</td>
        </tr>
        <tr *ngFor="let nombre of Lista; let i = index">
            <td [ngClass]="(i+1)%2!=0 ? 'error':'success'">{{i+1}}</td>
            <td *ngIf="nombre == ''; else nombrados" [ngStyle]="{'background-color':'red'}">Sin nombre registrado</td>
            <ng-template #nombrados><td [ngStyle]="{'background-color':nombre == 'Mauricio Trejo'?'lightgreen':'yellow'}">{{nombre}}</td></ng-template>
        </tr>
    </table>
</div>
<!--
<div [ngClass]="numero > 10 ? 'error' : 'success'">{{ numero }}</div>
<br>
<div [ngClass]="{
  'success': numero === 5,
  'error': numero === 8
}">{{ numero }}</div>
 
<hr>
 
<h2>ngStyle</h2>
 
<div [ngStyle]="{ 'font-size': myFontSize }">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente corrupti voluptas amet libero nam at expedita, repellendus error officiis laboriosam odit, voluptatem sit eaque ipsam labore hic accusamus veniam! Magnam?
</div>
-->