<h1 mat-dialog-title>{{
    editingUser
    ? "Modificar Usuario " + editingUser.nombre + " " + editingUser.apellido1 + " " + editingUser.apellido2 
    : "Crear Usuario"    
}}</h1>
<div mat-dialog-content>
    <form [formGroup] = "usersForm" class="grid">

        <div class="col-6 field">
            <mat-form-field appearance = "outline">
                <mat-label>Nombre</mat-label>
                <input formControlName ="Nombre" matInput type="text" name = "nombre">
                <mat-error *ngIf = "NombreControl.hasError('required')">
                    Este campo es requerido
                </mat-error>
                <mat-error *ngIf = "NombreControl.hasError('minlength')"> 
                    Debe contar con al menos 2 caracteres
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field appearance = "outline">
                <mat-label>Primer apellido</mat-label>
                <input formControlName ="PrimerApellido" matInput type = "text" name = "apellido1">
                <mat-error *ngIf = "PrimerApellidoControl.hasError('required')">
                    Este campo es requerido
                </mat-error>
                <mat-error *ngIf = "PrimerApellidoControl.hasError('minlength')"> 
                    Debe contar con al menos 2 caracteres
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field appearance = "outline">
                <mat-label>Segundo apellido</mat-label>
                <input formControlName ="SegundoApellido" matInput type = "text" name = "apellido2">
                <mat-error *ngIf = "SegundoApellidoControl.hasError('minlength')"> Debe contar con al menos 2 caracteres</mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 field">
            <mat-form-field appearance = "outline">
                <mat-label>e-mail</mat-label>
                <input formControlName ="Email" matInput type = "text" name = "email">
                <mat-error *ngIf = "EmailControl.hasError('required')"> Este campo es requerido</mat-error>
                <mat-error *ngIf = "EmailControl.hasError('email')"> 
                    Debe cumplir con el formato nombre@dominio.com
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-6 field">
            <mat-form-field appearance = "outline">
                <mat-label>Contraseña</mat-label>
                <input formControlName ="Clave" matInput type = "password" name = "clave">
                <mat-error *ngIf = "ClaveControl.hasError('required')"> Por favor ingrese una contraseña</mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 flex justify-content-end">
            <button mat-button mat-dialog-close> Cancelar </button>
            <button mat-button type="submit" (click) = "onSubmint()"> Guardar </button>
        </div> 

    </form>
    <!--Tabla de contenidos-->

    <pre>
        <!--{{ usersForm.value | json}} -->
    </pre>
</div>